/* body {
  background-color: rgb(180, 182, 184);
} */
li {
  list-style: none;
}
main {
  max-width: 60%; /* A4 paper width */
  background-color: rgb(180, 182, 184);
}
.invoice label {
  font-weight: 600;
}
.invoice input,
.invoice textarea {
  background-color: #ebebeb;
  border: 1px solid gray;
  border-radius: 4px;
}
.bg-secondary {
  background-color: rgb(206 209 213) !important;
}
.logodiv {
  height: 120px;
  width: 50%;
  text-align: center;
  border: 1px solid #aba2a2;
  background-color: #ebe9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo-container {
  position: relative;
  display: inline-block;
}

.logo-preview {
  width: 100px;
  height: 100px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
