.registerdiv {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.leftdiv {
  background-color: #7038d6;
  color: white;
  padding-top: 8%;
  font-weight: 400;
  text-align: center;
}

.leftdiv img {
  width: 100%;
  height: auto;
  max-height: 360px;
  border-radius: 10px;
}

.rightdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.formdiv {
  width: 100%;
  max-width: 500px;
}

.formdiv h3 {
  margin-bottom: 20px;
}

button.btn.google {
  border: 1px solid #b4c2d5;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.registerdiv .password-icon {
  cursor: pointer;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: transparent;
  border: none;
}

button.btn.submit {
  background-color: #7038d6;
  width: 100%;
  color: white;
  height: 50px;
  border: none;
  margin-top: 20px;
}

.formLinkSentence {
  margin-top: 20px;
  text-align: center;
}

#pageLink {
  color: #7038d6;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

#pageLink:hover {
  text-decoration: none;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

label {
  font-size: 15px;
}

sup {
  color: red;
}

.form-check-label span {
  text-decoration: underline;
}

.form-check-label span:hover {
  text-decoration: none;
  color: #7038d6;
}

.rightdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .text-end {
  margin-left: auto;
}

.formdiv {
  max-width: 500px;
  margin: 0 auto;
}

header.p-3.text-white {
  width: 100%;
}

a.btn.loginbtn {
  border: 1px solid #733dd9;
  color: #733dd9;
}

a.btn.loginbtn:hover {
  border: 1px solid #733dd9;
  color: white;
  background-color: #733dd9;
}

@media (max-width: 768px) {
  .leftdiv {
    padding-top: 5%;
  }

  .rightdiv {
    padding: 10px;
  }
}

#country {
  position: relative;
  border-radius: 7px;
}

div#optioninpdiv {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #7038d6;
  height: 150px;
  width: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #7038d6;
}

input.form-control,
.react-tel-input .form-control,
.react-tel-input input[type="tel"] {
  height: 38px;
  width: 100%;
  box-sizing: border-box;
}

.react-tel-input {
  width: 100%;
  position: relative;
}

.invalid-feedback {
  color: red;
  display: block;
}

/* cherck */
